[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
python-dotenv = "*"
flask = "*"
flask-testing = "*"
flask-script = "*"

[requires]
python_version = "2.7"
